:root {
    --primary-color:#055a05;
    --secondary-color:#f4a261;
    --accent1-color:#264653;
    --accent2-color:#e9c46a;
    --heading-font:"Times New Roman",serif;
    --body-font: Arial , helvetica, sans-serif; 
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    background-color: var(--primary-color);
    color:var(--accent2-color);
}

header, main, footer {
    width:840px;
    margin:0 auto;
}

h1,h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,p,section,article {
    margin:16px;
    padding:8px;
}

.socialmedia a {
    text-decoration: none;
}

/* hero styling with overlay */

.hero {
    position:relative;  
}

.hero img {
    display: block;
    width:100%;
    height:auto;
}

h1 {
    position: absolute;
    top:20px;
    width:100%;
    padding:16px;
    text-align:center;
    opacity:0.7;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

article {
    position: absolute;
    padding:16px;
    background-color: var(--accent2-color);
    color:#000;

}

.hero article img {
    float:right;
    width:125px;
    margin:2px;
    border:1px solid #fff;
    box-shadow:8px 12px 15px rgba(0, 0, 0, 0.1);
}




