*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(76deg,#07e224 , #07e2a0);
    color:#fff;
    font-size:1.2em;
    min-height:100vh;
    justify-content: center;
    align-items: center;
}

header{
    margin:0 auto;
    width:650;
}

h1{
    margin:.75rem;
    font-size:1.2em;
    text-align:center;
}

form{
    width:600px;
    margin:15px auto;
    padding:1rem;
    border:1px solid rgb(0, 0, 0/0.1);
    border-radius:12px;
    background-color: #fff;
    color: black;
    display:grid;
}

fieldset{
    display: grid;
    grid-gap:.5rem;
    margin:1rem;
    border:1px solid rgb(0, 0, 0/0.1);
    padding:1rem;
}

legend{
    padding:1rem;
    color:gray;
    font-size:1.2rem;
}

input,select, textarea {
    padding:1rem;
    font-size: 1em;
    /* adding my own creativity */
    background-color: rgb(240, 240, 240); 
    border-radius:8px;
    outline:none;
    border:1px solid #ccc;
    margin-bottom:10px;
}

input,select, textarea, button,label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

input[type="checkbox"]{
    width:20px;
    height:20px;
    vertical-align: bottom;
}

button{
    width:80%;
    padding: 0.9rem;
    border:none;
    border-radius:8px;
    background: #07e224;
    color:#fff;
    font-weight:700;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin:5px auto;
}

button:hover{
    background: #07e2a0;
}

/* -------------------styling footer------------------------------------------ */

footer{
    margin:1rem auto 0;
    width:100%;
    text-align:center;
    font-size: .8em;
    border-top: 1px dotted #ccc;
}

/* ------------form-item and grid layout styling  */

.form-item{
    display:grid;
    align-items: center;
    padding:.5rem;
}

.column1{
    grid-template-columns: 3fr 1fr;
}

.column2{
    grid-template-columns:1fr 2fr;
}


