.callout {
	background-color:#247;
    color:white;
    padding:15px;
    max-width:400px;
    border:1px solid rgba(0, 0, 0, 0.1);
    margin:10px;
}

.callout img {
    float:right;
    border:1px solid #000;
    width:100px;
    height:auto;
    margin:0 0 10px 15px;
    background-color:#fff;
    padding:3px;	
}

blockquote {
    margin:0;
}

cite {

    display:block;
    border-top:1px dotted #fff;
    text-align: right;
    padding-top:3px;
    font-size: smaller;


	
}