*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
}


header, footer {
    background-color: rgb(44, 44, 44);
    color:#fff;
    padding:15px;
    text-align: center;
    margin:2px;
}

header p{
    font-size:2em;
}

main{
    max-width:415px;
    margin:0 auto;
}

h1{
    margin:50px;
    font-size:30px;
}

picture img{
    display:block;
    max-width:415px;
    box-shadow:7px 7px 16px rgb(75, 75, 75);
}

section{
    background-color:rgb(138, 130, 130);
    margin:10px 0;
    padding:20px;
    line-height:1.5em;
}

section h2{
    border-bottom:1px solid #0e0d0d;
    padding-bottom:5px;
    margin-bottom:6px;
}

section p{
    margin-top:15px;
    padding:0 10px;
}

section ul{
    padding:0 10px;
    margin-left:10px;
}
